.certifucatepnl{
    display: none;
}
.form-check-input, .form-select{
    cursor: pointer !important;
}
.cerfiticate-form label.form-label{
    font-weight: 400 !important;
}
.cerfiticate-form .form-select{
    background-color: #eff7ff;
    border: 1px solid #00529b;
    border-radius: 4px;
    font-size: 12px;
}
.cerfiticate-form .form-select{
  background-color: #eff7ff;
  border: 1px solid #00529b;
  border-radius: 4px;
  font-size: 12px;
}
.form-select{
padding: 0.575rem 2.25rem 0.575rem .75rem !important;
}
select option{
    font-size:16px;
    padding:10px 0;
}
