<div class="loader" *ngIf="isLoading">
  <div class="loader-ring"></div>
    <span class="loader-text-submit">{{this.duplicateFormData.loaderMessage}}</span>
</div>
<!-- Personal Information -->
<div *ngIf="showPI">
  <div class="supervisors-new-application my-4">
    <div class="container-fluid">
      <div class="progress-track">
        <div class="stepper-wrapper">
          <div class="stepper-item active">
            <div class="step-counter">01</div>
            <div class="step-name">Personal Information</div>
          </div>
          <div class="stepper-item">
            <div class="step-counter">02</div>
            <div class="step-name">Additional Information</div>
          </div>
          <div class="stepper-item" >
            <div class="step-counter" >03</div>
            <div class="step-name">Required Documents</div>
          </div>
          <div class="stepper-item">
            <div class="step-counter">04</div>
            <div class="step-name">Payment</div>
          </div>
        </div>
      </div>
      <form #personalInformationForm = "ngForm">
      <div class="personal-information my-3 p-3">
        <div class="application-certificate-type">

          <div class="certificate-type">Application Request to &nbsp;
            <span class="certificate-type fw-bold">
              {{this.props.applicateType}}
            </span>
            <span class="certificate-type"> the </span>
            <span class="application-type fw-bold">
              {{this.props.certificateType}}
            </span>
            <span class="certificate-type"> Certificate</span>
          </div>
        </div>
        <div class="header-section pb-2 d-flex justify-content-between">
          <h5> Personal Information</h5>
          <div class="required"><span>*</span> Mandatory</div>
        </div>
        <div class="information-form-section">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label class="form-label">Certificate Number <span class="important-i">*</span></label>
                <input name="certificateNoRenewal"  class="form-control" [ngClass]="this.duplicateFormData.hasCertificate ? 'readonly' : ''"
                placeholder="Certificate Number" [(ngModel)]="this.duplicateFormData.CertificateDuplicate"  #certificateNoRenewal="ngModel" maxlength="6"  pattern="\d{6}" (keypress)="validateInput($event,'6')"  required>
                <div *ngIf="certificateNoRenewal.touched && certificateNoRenewal.invalid" class="errormessage">Please enter Certificate Number</div>
                <div class="errormessage"><p *ngIf="certificateNoRenewal.errors?.pattern">This must be a 6 digit number</p></div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="form-label"> Expiry Date <span class="important-i">*</span></label>
                <input name="ExpiryDate"  type="date" class="form-control"  [ngClass]="this.duplicateFormData.hasCertificate ? 'readonly' : ''"
                [(ngModel)]="this.duplicateFormData.expiryDateDuplicate" #ExpiryDate="ngModel" [min]="expDate" required>
                <div *ngIf="ExpiryDate.touched && ExpiryDate.invalid" class="errormessage">Expiry Date</div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="form-label">Social Security Number <span class="important-i">*</span></label>
                <input name="SSN"  class="form-control" maxlength="9" onKeyPress="if(this.value.length==9) return false;"  [ngClass]="this.duplicateFormData.hasCertificate ? 'readonly' : ''" (keypress) ="validateInput($event,'9')"
                placeholder="Social Security Number" [(ngModel)]="this.duplicateFormData.SSN"  #SSN="ngModel" pattern="\d{9}" required>
                <div *ngIf="SSN.touched && SSN.invalid" class="errormessage">Please Enter Social Security Number</div>
                <div class="errormessage"><p *ngIf="SSN.errors?.pattern">This must be a 9 digit number</p></div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="form-label">DMV Number <span class="important-i">*</span></label>
                <input name="DMV"  class="form-control"
                placeholder="DMV Number" [(ngModel)]="this.duplicateFormData.DMV"   [ngClass]="this.duplicateFormData.hasCertificate ? 'readonly' : ''" #DMV="ngModel" maxlength="9" pattern="\d{9}" (keypress)="validateInput($event,'9')"  required>
                <div *ngIf="DMV.touched && DMV.invalid" class="errormessage">Please enter DMV Number</div>
                <div class="errormessage"><p *ngIf="DMV.errors?.pattern">This must be a 9 digit number</p></div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="form-label"> First Name <span class="important-i">*</span></label>
                <input name="FirstName"  type="text" class="form-control"  (keypress)="validateInput($event,'Name')"
                [(ngModel)]="this.duplicateFormData.firstName" #FirstName="ngModel" placeholder="First Name" required>
                <div *ngIf="FirstName.touched && FirstName.invalid" class="errormessage">Please enter First Name</div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="form-label"> Middle Name </label>
                <input name="MiddleName"  type="text" class="form-control" placeholder=" Middle Name" (keypress)="validateInput($event,'Name')"
                [(ngModel)]="this.duplicateFormData.middleName" >
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="form-label"> Last Name <span class="important-i">*</span></label>
                <input name="LastName"  type="text" class="form-control" placeholder=" Last Name"  (keypress)="validateInput($event,'Name')"
                [(ngModel)]="this.duplicateFormData.lastName" #LastName="ngModel" required>
                <div *ngIf="LastName.touched && LastName.invalid" class="errormessage">Please enter Last Name</div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="form-label"> Birthday <span class="important-i">*</span></label>
                <input name="Birthday"  type="date" class="form-control"  (keydown)="disabledDate()"
                [(ngModel)]="this.duplicateFormData.birthDay" #Birthday="ngModel"  [ngClass]="this.duplicateFormData.hasCertificate ? 'readonly' : ''" [max]="today" required>
                <div *ngIf="Birthday.touched && Birthday.invalid" class="errormessage">Please select Birthday</div>
                <div *ngIf="dobError" class="errormessage">Cannot be a future date</div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="d-flex">
                <div class="height me-2 d-flex " style="flex-flow: column">
                 <div> <label class="form-label"> Height(Feet) <span class="important-i">*</span></label></div>
                 <div> <input name="Feet"  type="number" class="form-control"
                  [(ngModel)]="this.duplicateFormData.feet" #Feet="ngModel" required  placeholder="Height(Feet)"  (keypress)="validateInput($event,'1')" ></div>
                  <div *ngIf="Feet.touched && Feet.invalid" class="errormessage">Please enter Feet</div>
                </div>

              <div class="inches d-flex " style="flex-flow: column">
               <div> <label class="form-label"> Inches <span class="important-i">*</span></label></div>
               <div> <input name="Inches"  type="number" class="form-control"
                [(ngModel)]="this.duplicateFormData.inches" #Inches="ngModel" required  placeholder="Inches"  (keypress)="validateInput($event,'2')" ></div>
                <div *ngIf="Inches.touched && Inches.invalid" class="errormessage">Please enter Inch</div>
              </div>
            </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group weight-input-form">
                <label class="form-label">Weight <span class="important-i">*</span></label>
                <input name="Weight"  type="number" class="form-control"
                maxlength="30" placeholder="Weight" [(ngModel)]="this.duplicateFormData.weight"  #Weight="ngModel" maxlength="5"  (keypress)="validateInput($event,'5')"  required>
                <div *ngIf="Weight.touched && Weight.invalid" class="errormessage">Please enter Weight</div>
                <!-- <div class="errormessage"><p *ngIf="Weight.errors?.pattern">This must be a 3 digit number</p></div> -->
                <span class="ibs">Ibs</span>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="form-label"> Gender <span class="important-i">*</span></label>
                <div class="form-group d-flex flex-wrap">
                  <div class="form-check me-2">
                      <input class="hand-pointer form-check-input" type="radio" name="gender" id="gender1" value="F" [(ngModel)]="this.duplicateFormData.gender" #gender="ngModel"  required>
                      <label class="form-check-label" for="gender1">
                        Female
                      </label>
                    </div>
                    <div class="form-check me-2">
                      <input class="hand-pointer form-check-input" type="radio" name="gender" id="gender2" value="M" [(ngModel)]="this.duplicateFormData.gender" #gender="ngModel"  required>
                      <label class="form-check-label" for="gender2">
                        Male
                      </label>
                    </div>
                    <div class="form-check me-2">
                      <input class="hand-pointer form-check-input" type="radio" name="gender" id="gender3" value="Unknown" [(ngModel)]="this.duplicateFormData.gender" #gender="ngModel"  required>
                      <label class="form-check-label" for="gender3">
                        Unknown
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="hand-pointer form-check-input" type="radio" name="gender" id="gender4" value="Not disclosed" [(ngModel)]="this.duplicateFormData.gender" #gender="ngModel"  required>
                      <label class="form-check-label" for="gender4">
                        I choose not to disclose
                      </label>
                    </div>
               </div>
               <div *ngIf="gender.touched && gender.invalid" class="errormessage">Please select Gender</div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="form-label"> Mailing/ Home Street Address <span class="important-i">*</span></label>
                <textarea name="address"  type="text" class="form-control"
                [(ngModel)]="this.duplicateFormData.address" #address="ngModel" required style="height: 65px;" maxlength="30"  (keypress)="validateInput($event,'N')" ></textarea>
                <div *ngIf="address.touched && address.invalid" class="errormessage">Please enter Mailing/ Home Street Address</div>
              </div>
            </div>
            <div class="col-sm-4">
            <div class="form-group">
              <label class="form-label"> Apartment </label>
              <input name="apartment"  type="text" class="form-control" maxlength="10"
              [(ngModel)]="this.duplicateFormData.apartment" #apartment="ngModel" placeholder="Apartment" (keypress)="alphabetsOnly($event);">
            </div>
          </div>
          <div class="col-sm-4">
          <div class="form-group">
            <label class="form-label"> State <span class="important-i">*</span></label>
           <p-dropdown [options]="this.duplicateFormData.stateTypeValues" name="state"  #state="ngModel"
            [(ngModel)]="this.duplicateFormData.state" optionLabel="value" [filter]="true" filterBy="value" [showClear]="true"
           styleClass="sh-dropdown w-100"placeholder="Select a State"(ngModelChange)="changeStates($event)">
         </p-dropdown>
         <div *ngIf="ddlselectedState && state.touched" class="errormessage">Please Select State</div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label class="form-label">City <span class="important-i">*</span></label>
            <input name="city"  type="text" class="form-control"
            placeholder="City" [(ngModel)]="this.duplicateFormData.city"  #city="ngModel" maxlength="25" (keypress)="alphabetsOnly($event)"  required>
            <div *ngIf="city.touched && city.invalid" class="errormessage">Please enter City</div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label class="form-label">Zip Code <span class="important-i">*</span></label>
            <input name="zipCode"  class="form-control"
            placeholder="Zip Code" [(ngModel)]="this.duplicateFormData.zipCode"  #zipCode="ngModel" maxlength="9" pattern="^(\d{9}|\d{5})" (keypress)="validateInput($event,'9')" required>
            <div *ngIf="zipCode.touched && zipCode.invalid" class="errormessage">Please enter Zip Code</div>
            <div class="errormessage"><p *ngIf="zipCode.errors?.pattern">This must either be a 5 or 9 digit number</p></div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label class="form-label">Home Telephone Number <span class="important-i">*</span></label>
            <input name="homeNumber"  class="form-control"
            placeholder="Home Number" [(ngModel)]="this.duplicateFormData.homeNumber"  #homeNumber="ngModel" maxlength="10" pattern="\d{10}" (keypress)="validateInput($event,'10')" required>
            <div class="errormessage"><p *ngIf="homeNumber.errors?.pattern">This must be a 10 digit number</p></div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label class="form-label">Work Telephone Number</label>
            <input name="workNumber"  class="form-control"
            placeholder="Work Number" [(ngModel)]="this.duplicateFormData.workNumber"  #workNumber="ngModel" maxlength="10" pattern="\d{10}"  (keypress)="validateInput($event,'10')">
            <div class="errormessage"><p *ngIf="workNumber.errors?.pattern">This must be a 10 digit number</p></div>
          </div>
        </div>
          </div>
          <div *ngIf="this.props.certificateType == 'Investigator' || this.props.certificateType =='Investigator Restricted'">
            <div class="col-sm-8 mb-3">
              <div class="d-flex align-items-center">
                <div class="note me-2">
                  <span>
                    <label class="fw-bold">Note:</label> I want my work
                    telephone Number posted on the NYCDEP website:
                  </span>
                </div>
                <div class="check-box-section d-flex align-items-center">
                  <div class="form-group-check-box">
                    <div class="check-box-input d-flex mt-2">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="posted" id="posted1" value="Yes" [(ngModel)]="this.duplicateFormData.postOnWebsite" >
                        <label class="form-check-label" for="posted1">
                            Yes
                        </label>
                      </div>
                      <div class="form-check" style="margin-left: 10px;">
                        <input class="form-check-input" type="radio" name="posted" id="posted2" value="No" [(ngModel)]="this.duplicateFormData.postOnWebsite">
                        <label class="form-check-label" for="posted2">
                            No
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="btn-sections">
        <div class="col-sm-12 text-end">
          <input type="button" class="btn btn-primary me-2" value=" Save As Draft" (click)="saveAsDraftforPI()">
          <input type="submit" class="btn btn-primary" value="Next" [disabled]="!personalInformationForm.valid || dobError || ddlselectedState" (click)="savePI()">
        </div>
      </div>
    </form>
    </div>
  </div>
</div>

<!-- Additional Information -->
<div *ngIf="showAI">
  <div class="supervisors-new-application my-4">
    <div class="container-fluid">
      <div class="progress-track">
        <div class="stepper-wrapper">
          <div class="stepper-item completed" (click)="backPI()">
            <div class="step-counter">01</div>
            <div class="step-name">Personal Information</div>
          </div>
          <div class="stepper-item active" >
            <div class="step-counter">02</div>
            <div class="step-name">Additional Information</div>
          </div>
          <div class="stepper-item">
            <div class="step-counter">03</div>
            <div class="step-name">Required Documents</div>
          </div>
          <div class="stepper-item">
            <div class="step-counter">04</div>
            <div class="step-name">Payment</div>
          </div>
        </div>
      </div>
    <form #additionalInformationForm = "ngForm">
      <div class="personal-information my-3 p-3">
        <div class="application-certificate-type">
          <div class="certificate-type">   Application Request for &nbsp;
            <span class="certificate-type fw-bold">
              {{this.props.applicateType}}
              - </span>
            <span class="application-type fw-bold">
              {{this.props.certificateType}}
            </span>
            <span class="certificate-type"> Certificate</span>
          </div>
        </div>
        <div class="header-section pb-2 d-flex justify-content-between">
          <h5>Additional Information</h5>

          <div class="required"><span>*</span> Mandatory</div>
        </div>

        <div class="information-form-section">
          <h6><b>Employer Information :</b> </h6>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label class="form-label">Current Employer Name </label>
                <input name="employerName"  type="text" class="form-control"
                 placeholder="Employer Name" [(ngModel)]="this.duplicateFormData.employerName"  #employerName="ngModel" maxlength="30"   (keypress)="validateInput($event,'25')">

              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="form-label">Street Address </label>
                <textarea name="employerAddress"  type="text" class="form-control"
                 placeholder="Employer Address" [(ngModel)]="this.duplicateFormData.employerAddress"  #employerAddress="ngModel" maxlength="30" style="height: 65px;" (keypress)="validateInput($event,'N')"></textarea>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="form-label">City </label>
                <input name="employerCity"  type="text" class="form-control"
                 placeholder="City" [(ngModel)]="this.duplicateFormData.employerCity"  #employerCity="ngModel" maxlength="30"  (keypress)="alphabetsOnly($event)">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="form-label"> State </label>
              <p-dropdown [options]="this.duplicateFormData.stateTypeValues" name="empstate"
              [(ngModel)]="this.duplicateFormData.employerState" optionLabel="value" [filter]="true"
              filterBy="value" [showClear]="true" styleClass="sh-dropdown w-100" placeholder="Select a State">
           </p-dropdown>

              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="form-label">Zip Code </label>
                <input name="employerZipCode"  class="form-control"
                placeholder="Zip Code" [(ngModel)]="this.duplicateFormData.employerZipCode"  #employerZipCode="ngModel" maxlength="9"  pattern="^(\d{9}|\d{5})" (keypress)="validateInput($event,'9')" >
                <div class="errormessage"><p *ngIf="employerZipCode.errors?.pattern">This must either be a 5 or 9 digit number</p></div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="form-label"> Employment Start Date</label>
                <input name="employmentStartDate"  type="date" class="form-control"
                [(ngModel)]="this.duplicateFormData.employmentStartDate" #employmentStartDate="ngModel" >
              </div>
            </div>
            <div class="m-4"></div>
            <h6><b>School Information:</b></h6>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="form-label">NYSDOL Training Entity/ School Name<span class="important-i">*</span></label>
                <input name="schoolName"  type="text" class="form-control" (keypress)="alphabetsOnly($event)"
                placeholder="NYSDOL Training Entity/ School Name" [(ngModel)]="this.duplicateFormData.schoolName"  #schoolName="ngModel" maxlength="30" required>
                <div *ngIf="schoolName.touched && schoolName.invalid" class="errormessage">Please enter NYSDOL Training Entity/ School Name</div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="form-label">Street Address</label>
                <textarea name="schoolAddress"  type="text" class="form-control"
                placeholder="School Address" [(ngModel)]="this.duplicateFormData.schoolAddress"  #schoolAddress="ngModel" maxlength="30" style="height: 65px;" (keypress)="validateInput($event,'N')"></textarea>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="form-label">City </label>
                <input name="schoolCity"  type="text" class="form-control"
                 placeholder="City" [(ngModel)]="this.duplicateFormData.schoolCity" (keypress)="alphabetsOnly($event)"  #employerCity="ngModel" maxlength="25"  >
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="form-label"> State </label>
              <p-dropdown [options]="this.duplicateFormData.stateTypeValues" name="schoolstate"
              [(ngModel)]="this.duplicateFormData.schoolState" optionLabel="value" [filter]="true"
              filterBy="value" [showClear]="true" styleClass="sh-dropdown w-100" placeholder="Select a State">
           </p-dropdown>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="form-label">Zip Code </label>
                <input name="schoolZipCode"  class="form-control"
                placeholder="Zip Code" [(ngModel)]="this.duplicateFormData.schoolZipCode"  #schoolZipCode="ngModel" maxlength="9" pattern="^(\d{9}|\d{5})"(keypress)="validateInput($event,'9')">
                <div class="errormessage"><p *ngIf="schoolZipCode.errors?.pattern">This must either be a 5 or 9 digit number</p></div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group-check-box">
                  <div class="d-flex justify-content-between">
                  <label class="form-label">  1. Have you been found guilty after trial, or pleaded guilty, no
                    contest, or nolo contender to a crime related to asbestos or
                    occupational safety or health (felony or misdemeanor) in any court? <span class="important-i">*</span></label>
                    <div class="d-flex justify-content-end">
                  <div class="d-flex">
                  <input class="hand-pointer form-check-input" style="width: 20px;" type="radio" name="IsGuilty" id="IsGuilty1" value="Yes" [(ngModel)]="this.duplicateFormData.IsGuilty" #IsGuilty="ngModel"  required>
                  <label class="form-check-label" for="IsGuilty1">Yes</label>
                </div>
                <div class="d-flex ml-2">
                  <input class="hand-pointer form-check-input ml-3" style="width: 20px;" type="radio"  name="IsGuilty" id="IsGuilty2" value="No" [(ngModel)]="this.duplicateFormData.IsGuilty" #IsGuilty="ngModel"  required>
                  <label class="form-check-label" for="IsGuilty2">No</label>
                </div>
                  </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="form-group-check-box">
                  <div class="d-flex justify-content-between">
                  <label class="form-label">   2. Has any licensing or disciplinary authority revoked, annulled,
                    cancelled, accepted surrender of, suspended, placed on probation, or
                    refused to issue or renew a professional license or certificate held
                    by you now or previously, or fined, censured, reprimanded or
                    otherwise disciplined you? <span class="important-i">*</span></label>
                    <div class="d-flex justify-content-end">
                  <div class="d-flex">
                  <input class="hand-pointer form-check-input" style="width: 20px;" type="radio" name="IsDisciplined" id="IsDisciplined1" value="Yes" [(ngModel)]="this.duplicateFormData.IsDisciplined" #IsDisciplined="ngModel"  required>
                  <label class="form-check-label" for="IsDisciplined1">Yes</label>
                </div>
                  <div class="d-flex ml-2">
                  <input class="hand-pointer form-check-input ml-3" style="width: 20px;" type="radio"  name="IsDisciplined" id="IsDisciplined2" value="No" [(ngModel)]="this.duplicateFormData.IsDisciplined" #IsDisciplined="ngModel"  required>
                  <label class="form-check-label" for="IsDisciplined2">No</label>
                </div>
                  </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="form-group-check-box">
                  <div class="d-flex justify-content-between">
                  <label class="form-label">   3. Any criminal charges related to asbestos or occupational safety
                    or health pending against you in any court? <span class="important-i">*</span></label>
                    <div class="d-flex justify-content-end">
                  <div class="d-flex">
                  <input class="hand-pointer form-check-input" style="width: 20px;" type="radio" name="IsCriminalCharged" id="IsCriminalCharged1" value="Yes" [(ngModel)]="this.duplicateFormData.IsCriminalCharged" #IsCriminalCharged="ngModel"  required>
                  <label class="form-check-label" for="IsCriminalCharged1">Yes</label>
                </div>
                  <div class="d-flex ml-2">
                  <input class="hand-pointer form-check-input ml-3" style="width: 20px;" type="radio"  name="IsCriminalCharged" id="IsCriminalCharged2" value="No" [(ngModel)]="this.duplicateFormData.IsCriminalCharged" #IsCriminalCharged="ngModel" required>
                  <label class="form-check-label" for="IsCriminalCharged2">No</label>
                </div>
                  </div>
                </div>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="form-group-check-box">
                  <div class="d-flex justify-content-between">
                  <label class="form-label">     4. Any charges pending against you in any jurisdiction for any sort
                    of professional misconduct? <span class="important-i">*</span></label>
                    <div class="d-flex justify-content-end">
                  <div class="d-flex">
                  <input class="hand-pointer form-check-input" style="width: 20px;" type="radio" name="hasMisconductCharges" id="hasMisconductCharges1" value="Yes" [(ngModel)]="this.duplicateFormData.hasMisconductCharges" #hasMisconductCharges="ngModel"  required>
                  <label class="form-check-label" for="hasMisconductCharges1">Yes</label>
                </div>
                  <div class="d-flex ml-2">
                  <input class="hand-pointer form-check-input ml-3" style="width: 20px;" type="radio"  name="hasMisconductCharges" id="hasMisconductCharges2" value="No" [(ngModel)]="this.duplicateFormData.hasMisconductCharges" #hasMisconductCharges="ngModel"  required>
                  <label class="form-check-label" for="hasMisconductCharges2">No</label>
                </div>
                  </div>
                </div>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="form-group-check-box">
                  <div class="d-flex justify-content-between">
                  <label class="form-label">      5. Do you presently have a NYCDEP Asbestos handler certificate? <span class="important-i">*</span></label>
                    <div class="d-flex justify-content-end">
                  <div class="d-flex">
                  <input class="hand-pointer form-check-input" style="width: 20px;" type="radio" name="hasHandlerCertificate" id="hasHandlerCertificate1" value="Yes" [(ngModel)]="this.duplicateFormData.hasHandlerCertificate" #hasHandlerCertificate="ngModel" (click)="showcertificatePnl()"   required>
                  <label class="form-check-label" for="hasHandlerCertificate1">Yes</label>
                </div>
                  <div class="d-flex ml-2">
                  <input class="hand-pointer form-check-input ml-3" style="width: 20px;" type="radio"  name="hasHandlerCertificate" id="hasHandlerCertificate2" value="No" [(ngModel)]="this.duplicateFormData.hasHandlerCertificate" #hasHandlerCertificate="ngModel"  (click)="hidecertificatePnl()"  required>
                  <label class="form-check-label" for="hasHandlerCertificate2">No</label>
                </div>
                  </div>
                  </div>
                </div>
              </div>
              <div class="row" *ngIf="certificatePnl">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="form-label">Certificate Number <span class="important-i">*</span></label>
                    <input name="oldCertificate"  class="form-control"
                    placeholder="Old Certificate" [(ngModel)]="this.duplicateFormData.oldCertificate"  #oldCertificate="ngModel" pattern="\d{6}" maxlength="6" (keypress)="validateInput($event,'6')" required>
                    <div *ngIf="oldCertificate.touched && oldCertificate.invalid" class="errormessage">Please enter Certificate Number</div>
                    <div class="errormessage"><p *ngIf="oldCertificate.errors?.pattern">This must be a 6 digit number</p></div>

                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label class="form-label"> Expiry Date <span class="important-i">*</span></label>
                    <input name="certificateExpiryDate"  type="date" class="form-control" (keydown)="disabledDate()"
                    [(ngModel)]="this.duplicateFormData.certificateExpiryDate" #certificateExpiryDate="ngModel" required>
                    <div *ngIf="certificateExpiryDate.touched && certificateExpiryDate.invalid" class="errormessage">Please select Expiry Date</div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="form-group-check-box">
                  <div class="d-flex justify-content-between">
                  <label class="form-label">6. Do you presently have a valid asbestos handling
                    certificate/license in another state?<span class="important-i">*</span></label>
                    <div class="d-flex justify-content-end">
                  <div class="d-flex">
                  <input class="hand-pointer form-check-input" style="width: 20px;" type="radio" name="hasHandlerCertificateOtherState" id="hasHandlerCertificateOtherState1" value="Yes" [(ngModel)]="this.duplicateFormData.hasHandlerCertificateOtherState" (click)="showstatePnl()" #hasHandlerCertificate="ngModel"  required>
                  <label class="form-check-label" for="hasHandlerCertificateOtherState1">Yes</label>
                </div>
                  <div class="d-flex ml-2">
                  <input class="hand-pointer form-check-input ml-3" style="width: 20px;" type="radio"  name="hasHandlerCertificateOtherState" id="hasHandlerCertificateOtherState2" value="No" [(ngModel)]="this.duplicateFormData.hasHandlerCertificateOtherState" (click)="hidestatePnl()" #hasHandlerCertificateOtherState="ngModel"  required>
                  <label class="form-check-label"  for="hasHandlerCertificateOtherState2">No</label>
                </div>
                  </div>
                  </div>
                </div>
              </div>
              <div class="row" *ngIf="statePnl">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="form-label"> State <span class="important-i">*</span></label>
                    <p-dropdown [options]="this.duplicateFormData.stateTypeValues" name="certificatestate"
                    [(ngModel)]="this.duplicateFormData.certificateState" optionLabel="value" [filter]="true"
                    filterBy="value" [showClear]="true" styleClass="sh-dropdown w-100" placeholder="Select a State" (ngModelChange)="changeState($event)">
                 </p-dropdown>
                 <div *ngIf="ddlCertificateState" class="errormessage">Please Select State</div>
                 </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label class="form-label"> Expiry Date <span class="important-i">*</span></label>
                    <input name="certificateExpiryDateOtherState"  type="date" class="form-control" (keydown)="disabledDate()"
                    [(ngModel)]="this.duplicateFormData.certificateExpiryDateOtherState" #certificateExpiryDateOtherState="ngModel" required>
                    <div *ngIf="certificateExpiryDateOtherState.touched && certificateExpiryDateOtherState.invalid" class="errormessage">Please select Expiry Date</div>
                  </div>
                </div>
              </div>
              </div>
          </div>
        </div>
      </div>
      <div class="btn-sections">
        <div class="col-sm-12 text-end">
          <input type="button" class="btn btn-white me-2" value=" Back" (click)="backPI()">
          <input type="button" class="btn btn-primary me-2" value=" Save As Draft" (click)="saveAsDraft('Additional','Save',false)">
          <input type="submit" class="btn btn-primary" value="Next" [disabled]="!additionalInformationForm.valid || ddlCertificateState" (click)="checkValidationsOI()">
        </div>
      </div>
    </form>
    </div>
  </div>
  </div>

  <!-- Required Documents -->
<div *ngIf="showRD">
  <div class="supervisors-new-application my-4">
    <div class="container-fluid">
      <div class="progress-track">
        <div class="stepper-wrapper">
          <div class="stepper-item completed" (click)="backPI()">
            <div class="step-counter">01</div>
            <div class="step-name">Personal Information</div>
          </div>
          <div class="stepper-item completed"  (click)="backAI()">
            <div class="step-counter">02</div>
            <div class="step-name">Additional Information</div>
          </div>
          <div class="stepper-item active">
            <div class="step-counter">03</div>
            <div class="step-name">Required Documents</div>
          </div>
          <div class="stepper-item">
            <div class="step-counter">04</div>
            <div class="step-name">Payment</div>
          </div>
        </div>
      </div>
      <div class="personal-information my-3 p-3">
        <div class="application-certificate-type">
          <div class="certificate-type">   Application Request to &nbsp;
            <span class="certificate-type fw-bold">{{this.props.applicateType}}  </span>
            <span class="certificate-type"> the </span>
            <span class="application-type fw-bold">{{this.props.certificateType}}</span>
            <span class="certificate-type"> Certificate</span>
          </div></div>
          <div class="download-icon-required d-flex justify-content-end mb-2">
            <div class="required"><span>*</span> Mandatory</div>
          </div>

      <div class="information-form-section">
        <div class="required-document-form">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-12  col-lg-6">
              <div class="form-group">
                <label class="form-label">  Notarized Letter Explaining The Reason  </label>
                <label class="important-i">*</label>
                <input type="text" class="form-control"  [placeholder]="this.duplicateFormData.attachmentReason.length > 0 ? '' : 'Notarized Letter Explaining The Reason '"
                 />
                <div class="attachment-icon">
                  <input type="file" accept="image/*,application/pdf" id="attachment-reason" multiple=false lang="es"  (change)="changeImg($event,'Reason')" />
                  <div class='selected-attachments cust-select-attachment' *ngIf=" this.duplicateFormData.attachmentReason &&  this.duplicateFormData.attachmentReason.length >0">
                      <div class="attachment-links" (click)="this.removeAttachment(0, 'Reason')">
                        <label>{{this.duplicateFormData.attachmentReason[0].name}}</label>
                        <i class="fa fa-times" aria-hidden="true" style="width: 18px !important; height: 18px !important; color: red; border:1px solid #ccc; border-radius: 50%; padding: 2px 3px;"></i>
                      </div>
                  </div>
                  <span class="cust-attachment"> <i class="fa-solid fa-arrow-up-from-bracket"></i></span>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12  col-lg-6">
              <div class="form-group top56-for-icon-div-duplicateform">
                <label class="form-label">  Official Documentation to Support Any Requested Changes </label>
                <input type="text" class="form-control"  [placeholder]="this.duplicateFormData.attachmentRequestChange.length > 0 ? '' : 'Official Documentation to Support Any Requested Changes'"
                 />
                <div class="attachment-icon cust-mob-attach">
                  <input type="file" accept="image/*,application/pdf" id="attachment-requestChange" multiple=false lang="es"  (change)="changeImg($event,'RequestChange')" />
                  <div class='selected-attachments cust-select-attachment' *ngIf=" this.duplicateFormData.attachmentRequestChange &&  this.duplicateFormData.attachmentRequestChange.length >0">
                      <div class="attachment-links" (click)="this.removeAttachment(0, 'RequestChange')">
                        <label>{{this.duplicateFormData.attachmentRequestChange[0].name}}</label>
                        <i class="fa fa-times" aria-hidden="true" style="width: 18px !important; height: 18px !important; color: red; border:1px solid #ccc; border-radius: 50%; padding: 2px 3px;"></i>
                      </div>
                  </div>
                  <span class="cust-attachment"> <i class="fa-solid fa-arrow-up-from-bracket"></i></span>
                </div>
              </div>
            </div>
            </div>
          <div class="row">
            <div class="col-12 col-sm-12 col-md-12  col-lg-6">
              <div class="form-group">
                <label class="form-label">  Your Picture </label>
                <label class="important-i">*</label>
                <input type="text" class="form-control"  [placeholder]="this.duplicateFormData.attachmentPhoto.length > 0 ? '' : 'Your Picture'"
                 />
                <div class="attachment-icon">
                  <span class="d-block  float-start me-4 cust-attachment" (click)="pictureImage.isCameraPopup=true; duplicateFormData.openCapturePhoto=true;"> <i class="fa-solid fa-camera"></i> </span>
                  <input type="file" accept="image/*" id="attachment-photo" multiple=false lang="es" (change)="changeImg($event,'Photo')" />
                  <div class='selected-attachments cust-select-attachment' *ngIf=" this.duplicateFormData.attachmentPhoto &&  this.duplicateFormData.attachmentPhoto.length >0">
                      <div class="attachment-links" (click)="this.removeAttachment(0, 'Photo')">
                        <label>{{this.duplicateFormData.attachmentPhoto[0]}}</label>
                        <i class="fa fa-times" aria-hidden="true" style="width: 18px !important; height: 18px !important; color: red; border:1px solid #ccc; border-radius: 50%; padding: 2px 3px;"></i>
                      </div>
                  </div>
                  <span class="cust-attachment"> <i class="fa-solid fa-arrow-up-from-bracket"></i></span>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12  col-lg-6">
              <div class="form-group">
                <label class="form-label">  Signature </label>
                <label class="important-i">*</label>
                <input type="text" class="form-control"  [placeholder]="this.duplicateFormData.attachmentSignature.length > 0 ? '' : 'Signature'"
                 />
                <div class="attachment-icon">
                  <input type="file" accept="image/*,application/pdf" id="attachment-signature" multiple=false lang="es"  (change)="changeImg($event,'Signature')" />
                  <div class='selected-attachments cust-select-attachment' *ngIf=" this.duplicateFormData.attachmentSignature &&  this.duplicateFormData.attachmentSignature.length >0">
                      <div class="attachment-links" (click)="this.removeAttachment(0, 'Signature')">
                        <label>{{this.duplicateFormData.attachmentSignature[0].name}}</label>
                        <i class="fa fa-times" aria-hidden="true" style="width: 18px !important; height: 18px !important; color: red; border:1px solid #ccc; border-radius: 50%; padding: 2px 3px;"></i>
                      </div>
                  </div>
                  <span class="cust-attachment"> <i class="fa-solid fa-arrow-up-from-bracket"></i></span>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
        <div class="btn-sections">
            <div class="col-sm-12 text-end">
              <button class="btn btn-white me-2" (click)="backAI()"> Back</button>
              <button class="btn btn-primary me-2" (click)="saveAsDraft('Documents','Save')" > Save As Draft</button>
              <button class="btn btn-primary me-2"  (click)="checkValidationsRD()">{{this.duplicateFormData.IsPaymentComplete ? "Submit" : "Next"}}</button>
            </div>
        </div>
    </div>
  </div>
  </div>

  <div class="supervisors-new-application my-4" *ngIf="showSM">
    <div class="container-fluid">
      <div class="progress-track">
        <div class="stepper-wrapper">
          <div class="stepper-item completed" (click)="backPI()">
            <div class="step-counter" >01</div>
            <div class="step-name">Personal Information</div>
          </div>
          <div class="stepper-item completed" (click)="backAI()">
            <div class="step-counter">02</div>
            <div class="step-name">Additional Information</div>
          </div>
          <div class="stepper-item completed" (click)="backRD()">
            <div class="step-counter">03</div>
            <div class="step-name">Required Documents</div>
          </div>
          <div class="stepper-item active" >
            <div class="step-counter">04</div>
            <div class="step-name">Payment</div>
          </div>
        </div>
      </div>
      <div class="review-box">
        Review your contact information before making the payment.
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="desc-details">
            <div class="row details-title">
              <div class="col-7">
                <div class="info-title ">Description</div>
              </div>
              <div class="col-5">
                <div class="info-title ">Price</div>
              </div>
            </div>
            <div class="row">
              <div class="col-7">
                <div class="info-title ">Exam</div>
                <div class="contact-info">
                  <div class="summary-title"> Application Type :</div>
                  <div>{{this.props.applicateType}}</div>
                </div>
                <div class="contact-info">
                  <div class="summary-title">Certificate Type :</div>
                  <div>{{this.props.certificateType}}</div>
                </div>
              </div>
              <div class="col-5">
                <div class="">$ {{this.duplicateFormData.feeAmount}}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="desc-details">
            <div class="row">
              <h5>Confirm Contact Information</h5>
              <p>Your name must exactly match the identification (ID) that is presented at the test center or you will not be permitted to take your exam</p>
              <div class="contact-info">
                <div class="summary-title">Name :</div>
                <div>{{this.duplicateFormData.firstName + " " + this.duplicateFormData.middleName + " " + this.duplicateFormData.lastName}}</div>
              </div>
              <div class="contact-info">
                <div class="summary-title">Telephone :</div>
                <div>{{"(" + this.duplicateFormData.homeNumber.substring(0, 3) + ") " + this.duplicateFormData.homeNumber.substring(3, 6) + "-" + this.duplicateFormData.homeNumber.substring(6, 10)}}</div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6"></div>
        <div class="col-sm-6">
          <div class="desc-details">
            <div class="total row">
              <h5>Total Due</h5>
              <div class="col-6">
                <div>Subtotal :</div>
                <div>Estimated Tax :</div>
                <b>ESTIMATED TOTAL DUE :</b>
              </div>
              <div class="col-3">
              </div>
          <div class="col-3">
            <div>$ {{this.duplicateFormData.feeAmount}}</div>
                <div>$ 0</div>
                <b>$ {{this.duplicateFormData.feeAmount}}</b>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="summary-btns">
        <button class="btn back-btn" (click)="backRD()" >Back</button>
        <button class="btn btn-primary" (click)="proceedToPayment()">Proceed To Pay</button>

      </div>

    </div>
  </div>

<camera-popup [parent]="pictureImage" [parentThis]="this" *ngIf="pictureImage.isCameraPopup"></camera-popup>
